interesses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="interesses" type="interessesType"/>
  <xs:complexType name="interesseType">
    <xs:choice maxOccurs="4" minOccurs="0">
      <xs:element type="xs:string" name="nome" maxOccurs="1" minOccurs="1"/>
      <xs:element name="tipo" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Lazer"/>
            <xs:enumeration value="Gastronomia e vinhos"/>
            <xs:enumeration value="Património"/>
            <xs:enumeration value="Cultura"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="nomedistrito" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:string" name="nomeconcelho" maxOccurs="1" minOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="interessesType">
    <xs:sequence>
      <xs:element type="interesseType" name="interesse" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>